body {
    font-family: Arial, sans-serif;
}

.welcome {
  font-size: 18px;
  margin-bottom: 20px;
}

.chatRoom-container {
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  padding-top: 50px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.chatRoom-container h2 {
  text-align: center;
}

.chat-messages {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.message-container {
  margin: 0px 20px 0px 20px;
  padding: 3px;
  width: auto;
}

.message-container .user {
  font-weight: bold;
  margin-bottom: 5px;
  width: 5%;
}

.own-message .user {
  float: right;
}

.other-message .user {
  float: left;
}

.message {
  margin-top: 20px;
  padding-right: 2.5%;
  padding-left: 2.5%;
  width: 80%;
  text-align: justify;
  overflow-y: scroll;
  white-space: pre-line;
}

.own-message .message{
  float: right;
}

.other-message .message{
  float: left;
}

.timestamp{
  margin-top: 20px;
  font-size: 0.8em;
  color: #999;
  width: 10%;
}

.own-message .timestamp {
  float: left;
  text-align: left;
}

.other-message .timestamp {
  float: right;
  text-align: right;
}

.input-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-wrapper {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.input-container input[type="text"] {
  width: 70%;
  padding: 5px;
  margin-left:25px;
  white-space: pre-line;
}

.input-container input[type="button"] {
  width: 15%;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px;
  margin-right:15px;
  cursor: pointer;
  border-radius: 8px;
}

.logout-btn {
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.user-list {
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 200px;
  height: 200px;
  overflow-y: auto;
  overflow-x: auto;
}

.user-list ul {
  list-style-type: none;
  padding: 0;
}

.user-list ul li {
  margin-bottom: 5px;
}

.user-list ul li:last-child {
  margin-bottom: 0;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.custom-file-upload img {
  margin-left: -30px;
}